
.wrapper {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: auto;
	font-family: Ubuntu,	 verdana, sans-serif;
}

.upper {
	z-index: 100;
}

p.default-text {
	flex-basis: 40%;
	font-size: 15px;
	font-weight: 100;
	text-align: center;
	color: #999;
}

button {
	flex-basis: 40%;
	padding-top: 25px;
	padding-bottom: 25px;
	border: 1px solid #999;
	border-radius: 15px;
	background-color: #fff;
	font-size: 90px;
	font-weight: 100;
	color: #999;
	display: none;
}